h1,
h2 {
    text-decoration: underline;
    margin-bottom: 20px;
}

div h1 {
    text-align: center;
}

body {
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    padding: 40px;
}

form {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label,
p {
    font-size: 18px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input {
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #004c99;
}

#mensaje {
    margin-top: 15px;
    font-size: 16px;
    color: #cc0000;
    text-align: center;
}


fieldset {
    margin-top: 25px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #0066cc;
}