body {
    background-color: #f1f1f1;
    text-align: center;
}

#contenedorHijo {
    background-color: white;
    width: 49%;
    padding: 0.5%;
    text-align: center;
    margin: 0 auto;   
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 50%;
    margin: 0 auto; 
}

#error {
    background-color: #ffedec;
    color: #cc392b;
}

#bien {
    background-color: #27ae60;
    color: white;
}

#mal {
    background-color: #c0392b;
    color: white;
}

td,
th {
    padding: 1%;
    font-size: large;
    text-align: center;

}

th {
    background-color: #2c3e50;
    color: white;
}

h1 {
    color: #2c3e50;
}

#consumo {
    color: #27ae60;
}