body {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    font-family: Arial, sans-serif;
}


#formulario,
#listaUsuarios {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#formulario {
    width: 280px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    margin-top: 5px;
}

#botonGuardar {
    margin-top: 20px;
    background: #0d6efd;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#botonGuardar:hover {
    background: #0b5ed7;
}

#botonCargar,
#botonSubir {
    padding: 10px 18px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#botonCargar {
    background: #198754;
}

#botonCargar:hover {
    background: #157347;
}

#botonSubir {
    background: #0d6efd;
}

#botonSubir:hover {
    background: #0b5ed7;
}

#listaUsuarios {
    width: 450px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: flex;
    align-items: center;
    background: #ffffff;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

td {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}


img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}


p {
    margin: 2px 0;
    font-size: 14px;
}

.Editar,
.Eliminar {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin: 3px;
}

.Editar {
    background: orange;
    color: white;
}

.Eliminar {
    background: red;
    color: white;
}

td:last-child {
    margin-left: auto;
    flex-direction: row;
}

.nombre{
    font-weight: bold;
}