body {
    padding: 20px;
}

#hijo {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
    width: 15%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#hijo:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}


button {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
}

button:hover {
    background-color: lightgrey;
    ;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

#padre {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

button,
label,
h3 {
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    background-color: white;
    margin: 2%;
}

.claro {
    background-color: white;
}

.oscuro {
    background-color: black;
}